// Estilo del error
.aniade-opcion-error {
    color: $off-white;
    font-style: italic;
    margin-top: $m-size; 
    padding: 0 $m-size;
}

// Estilo de la forma
.aniade-opcion {
    display: flex;
    padding: $m-size;
}

// Estilo del input
.aniade-opcion-input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
    margin-right: $s-size;
    color: $off-white;
    padding: $s-size;
}