.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}
// Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    // Uso de flex-box
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

// Selector de elemento para el widget header
.widget-header-titulo {
    margin: 0;
}

// Selector del estilo del mensaje
.widget-header-mensaje {
    // Centrar
    margin: 0;
    padding: $l-size;
    text-align: center;
    color: $off-white;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
}